{% extends 'base.html.twig' %}

{% block title %}Create New Post{% endblock %}

{% block body %}
<h1>Create New Post</h1>
{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    <button type="submit">Create</button>
{{ form_end(form) }}
<a href="{{ path('app_home') }}">Back to home</a>
{% endblock %}
