{% extends 'base.html.twig' %}
{% block title %}Edit User (ex06){% endblock %}
{% block body %}
<h1>Edit User (ex06)</h1>
{% if message %}<div style="color:green">{{ message }}</div>{% endif %}
{% if error %}<div style="color:red">{{ error }}</div>{% endif %}
<form method="post">
    <label>Username: <input type="text" name="username" value="{{ user.username }}" required></label><br>
    <label>Name: <input type="text" name="name" value="{{ user.name }}" required></label><br>
    <label>Email: <input type="email" name="email" value="{{ user.email }}" required></label><br>
    <label>Enable: <input type="checkbox" name="enable" {% if user.enable %}checked{% endif %}></label><br>
    <label>Birthdate: <input type="datetime-local" name="birthdate" value="{{ user.birthdate|date('Y-m-d\\TH:i') }}" required></label><br>
    <label>Address: <textarea name="address">{{ user.address }}</textarea></label><br>
    <button type="submit">Update User</button>
</form>
<p><a href="{{ path('ex06_list') }}">Back to List</a></p>
{% endblock %}