{% extends 'base.html.twig' %}
{% block title %}Add User (ex07){% endblock %}
{% block body %}
<h1>Add User (ex07 - ORM)</h1>
{% if message %}<div style="color:green">{{ message }}</div>{% endif %}
{% if error %}<div style="color:red">{{ error }}</div>{% endif %}
{{ form_start(form) }}
    <label>Username:</label> {{ form_widget(form.username) }}<br><br>
    <label>Name:</label> {{ form_widget(form.name) }}<br><br>
    <label>Email:</label> {{ form_widget(form.email) }}<br><br>
    <label>Enable:</label> {{ form_widget(form.enable) }}<br><br>
    <label>Birthdate:</label> {{ form_widget(form.birthdate) }}<br><br>
    <label>Address:</label><br> {{ form_widget(form.address) }}<br><br>
    <button type="submit">Add User</button>
{{ form_end(form) }}
<p><a href="{{ path('ex07_list') }}">Back to List</a></p>
{% endblock %}
